<div>
<h1>Already a member?</h1>
    <%= form_with do |form| %>
        <div>
            <%= form.label :username%>
            <%= form.text_field :username%>
        </div>

        <div>
            <%= form.label :password%>
            <%= form.password_field :password%>
        </div>

        <div>
            <%= form.submit "Log-in!" %>
        </div>
    <% end %>
</div>



<div>
<h1>Ready to join the fun?</h1>
        </div>
            <% if @user.errors.any? %>
            <div style="color: red">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% @user.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <% end %>
            </ul>
        </div>
            <% end %>

<%= form_with(model: @user) do |form| %>
    <div>
        <%= form.label :username %>
        <%= form.text_field :username %>
    </div>

    <div>
        <%= form.label :email %>
        <%= form.text_field :email %>
    </div>

    <div>
        <%= form.label :password %>
        <%= form.password_field :password %>
    </div>

    <div>
        <%= form.submit "Sign-up Now!" %>
    </div>
<% end %>
<div>

<h1>Know you signed up, but cant remember your password?</h1>
    <%= form_with(model: @user) do |form| %>
        <div>
            <%= form.label :email %>
            <%= form.text_field :email %>
        </div>
        <div>
            <%= form.submit "Send secret email with password reset instructions!" %>
        </div>
    <% end %>
</div>
